{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <h3 class="ui top attached block header">
        {{ 'Login'|trans }}
    </h3>

    <div class="ui middle attached segment">
        {{ include('@FOSUser/Security/login_content.html.twig') }}
    </div>
    <div class="ui bottom attached segment">
        <a href="{{ path('fos_user_resetting_request') }}">{{ 'Forgot password'|trans }}</a>
    </div>
{% endblock fos_user_content %}
