{% extends 'security/base.html.twig' %}

{% block body %}

    <div class="ui login fluid container">
        <div class="top image">
            <img class="ui centered image" src="{{ asset('android-chrome-192x192.png') }}" alt="Logo" />
        </div>

        <div class="ui stacked segment">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
