# See the configuration reference at https://symfony.com/bundles/SchebTwoFactorBundle/6.x/configuration.html
scheb_two_factor:
    security_tokens:
        - Symfony\Component\Security\Core\Authentication\Token\UsernamePasswordToken
        - Symfony\Component\Security\Http\Authenticator\Token\PostAuthenticationToken

    email:
        enabled: true
        digits: 6
        sender_email: '%env(MAILER_FROM)%'
        sender_name: Shinage Two-Factor Authentification
        template: security/2fa_form.html.twig
        mailer: 'App\Security\TwoFactorCodeMailer'

    backup_codes:
        enabled: true

    google:
        enabled: true
        server_name: Shinage
        issuer: Shinage
        template: security/2fa_form.html.twig
