.git/
.github/
.idea/
.yarn/
bin/
!bin/console
build/
etc/
!etc/prod/
features/
git-hooks/
node_modules/
spec/
tests/
var/
.env*
!.env.ci
.dockerignore
.editorconfig
.eslintrx
.gitattributes
.gitignore
.gitlab-ci.yml
.gitmodules
.nvmrc
.python-version
.yarnrc.yml
ansible.cfg
behat.yml
behat.yml.dist
ecs.php
install-git-hooks.php
gulpfile.js
package.json
phpspec.yml
phpstan.dist.neon
rector.php
*.bak
*.BAK
*.swo
*.swp
*~
Dockerfile*
Makefile
README.md
Vagrantfile
