/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/assets/
/web/semantic-ui-css/
/web/bundles/
/web/js/elfinder/
/web/css/elfinder/
/web/jquery-ui-dist/
/web/vendor/
/node_modules/

tests/_output/*

/data

.idea/*
*~
*.bak
*.swp
*.swo

.web-server-pid
