/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
!/var/spool
/var/spool/*
!/var/spool/.gitkeep
!/var/spool/default
/var/spool/default/*
!/var/spool/default/.gitkeep
/vendor/
/public/assets/
/public/fomantic-ui-css/
/public/bundles/
/public/js/elfinder/
/public/css/elfinder/
/public/jquery-ui-dist/
/public/reveal.js/
/public/vendor/
/node_modules/
/bin/*
!/bin/console
!/bin/devEnv.sh
!/bin/runInDev.sh

.preload.php

# Legacy
/web/

tests/_output/*

/data

.idea/*
*~
*.bak
*.swp
*.swo

.web-server-pid

/etc/dev/docker/nginx/server.*

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

###> symfony/framework-bundle ###
/.env
/public/bundles/
#/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
