<h3 class="ui top attached block header">
    {{ 'Reset Password'|trans }}
</h3>
<div class="ui bottom attached segment">
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div class="ui fluid input">
            <input type="text" placeholder="{{ 'Email'|trans }}" id="username" name="username" required="required" />
        </div>
        <p>
            <button class="ui primary button" type="submit" id="_submit" name="_submit">{{ 'Reset Password'|trans }}</button>
        </p>
    </form>
</div>
