<html>
    <head></head>
    <body>
        {% block body %}
        {% endblock %}

        {% block footer %}
            {% include 'mail/html/footer.html.twig' %}
        {% endblock %}
    </body>
</html>
