{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui main container">

        <div class="page-header">
            <h2>Nothing <small>too see here.</small></h2>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
