{% extends 'base.html.twig' %}

{% block body %}
        <div class="container">

            <div id="status">
                <p>
                </p>
            </div>

            <!--
            TODO{s:5}: Benutzer registrieren
            TODO{s:0}: Zwei-Faktor-Authentifizierung (z.B. via http://www.christianscheb.de/archives/302 )
            -->

        </div>

{% endblock %}

{% block stylesheets %}
<style>


</style>
{% endblock %}
