{% extends 'base.html.twig' %}

{% block body %}
        <div class="container">

            <div id="status">
                <p>
                </p>
            </div>

            <!--
            TODO: Benutzer registrieren
            TODO: Zwei-Faktor-Authentifizierung (z.B. via http://www.christianscheb.de/archives/302 )
            -->

        </div>

{% endblock %}

{% block stylesheets %}
<style>


</style>
{% endblock %}
