{% extends 'base.html.twig' %}

{% block body %}
        <div id="container">

            <div id="status">
                <p>
                </p>
            </div>

            <div id="next">
                <h2>Willkommen!</h2>
            </div>

        </div>

        <p style="font-size:0.8em; text-align:center; ">Diese Seite nutzt Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}
        <br>
        Lokaler Pfad: <code>{{ base_dir }}</code>
        </p>
{% endblock %}

{% block stylesheets %}
<style>


</style>
{% endblock %}
