{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui main container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block scripts %}
    <script>
    </script>
{% endblock %}


{% block stylesheets %}
{% endblock %}
