



/**
 * @author  Michael Zapf <michi.zapf@gmail.com>
 */

html,body { margin:0; padding:0; }
body { background: #F5F5F5; font: 16px/1.5 sans-serif; }

#wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
#container { padding: 1em; }

#navi { height:42px; line-height:42px; background-color:#eee;
    margin-bottom: 20px; }

.navi-button { display:inline-block; padding:0 10px; }
#navi-login { float:right; }

a.navi-button { color: #000; text-decoration: none; }
a.navi-button:hover { background-color: #ddd; text-decoration: underline; }

h1, h2 { line-height: 1.2; margin: 0 0 .5em; font-weight:bold; }
h1 { font-size: 36px; }
h2 { font-size: 21px; margin-bottom: 1em; }
p { margin: 0 0 1em 0; }
a { color: #0000F0; }
a:hover { text-decoration: none; }

code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }


/* flash messages */
.flash { margin:7px 3px; padding:9px; font-size:1.1em;
    border-width:1px; border-radius:4px; border-style: solid; }
.flash-error { border-color: #ee0000; background-color:#ffeeee;
    color:#aa0000; }


/* screen box */
.screen-editor { display:inline-block; margin:5px; padding:3px;
    width:200px; border:1px solid #aaa; }
.screen-editor .input-label { margin:0; padding:0;
    font-size:0.9em; font-weight:bold; line-height: 0.9em; }
.screen-editor .input { margin:0 0 5px 0; padding:0; }
.screen-editor input, .screen-editor textarea
    { margin:0; padding:0; width:96%; }


/* scheduler */
#sched-screen-list {}
#sched-screen-list .item { display:inline-block; width:160px;
    margin:5px; padding:2px 0; border: 1px solid #92AAB0; overflow:hidden;
    font-size:12px; line-height:14px; background-color: #EDEEFE;
    color: #556666; }


#sched-screen-list p { margin:0; padding:0; white-space: nowrap; }
#sched-screen-list p.screen-name { font-weight: bold; }

#sched-screen-list .selected { border: 3px solid #2a6496; margin:3px; }


#sched-screen-list .selector { float:left; margin:6px 4px; width:16px; height:16px; content: "O";
    background-color:#666; }
#sched-screen-list .visible .selector { background-color:#EEE; }
/*
#sched-screen-list .visible { background-color:#93B9FF; color: #001111; border-color: #2a6496; }
 */

#calendar .fc-event .event-delete { visibility: hidden; position:absolute; right:6px; top:0; }
#calendar .fc-event:hover .event-delete { visibility: visible; }

#calendar a { color:#000; text-decoration:none; }
#calendar a:hover { text-decoration:underline; }



/* login form */
.auth-form-body { border: 1px solid #fff; padding:20px; max-width:280px; }

.auth-form-body label { display:block; margin-top:10px; }
.auth-form-body input { display:block; width:95%; font-size:1.3em;
    padding:6px; color:#444; }

.auth-form-body input.btn-block { margin:16px 0; padding:5px 0;
    width:100%; color:#111; }
