services:
    _defaults:
        public: true
        autowire: true
        autoconfigure: true

    Tests\Behat\:
        resource: '../tests/Behat/*'

    Tests\Behat\Client\ApiV1ClientContext:
        arguments:
            $baseUrl: "http://127.0.0.1:8000"
            # @TODO Make it somehow autoconfigured

    Tests\Behat\Setup\FilePoolContext:
        arguments:
            $basePath: '%path_pool%'

    Tests\Behat\Gui\LoginContext:
        arguments:
            $session: "@session"
            $firewallName: "main"

    mailer.transport_factory.testonly:
        class: App\Factory\MailerTestTransportFactory
        parent: mailer.transport_factory.abstract
        tags:
            - { name: mailer.transport_factory }


    # If you need to access services in a test, create an alias
    # and then fetch that alias from the container. As a convention,
    # aliases are prefixed with test. For example:
    #
    # test.App\Service\MyService: '@App\Service\MyService'
