{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui main container">
        <div class="page-header">
            <h1>{{ 'Edit Presentation'|trans }}</h1>
        </div>

        <div class="panel-body">
            {{ render(controller(
            editControllerAction,
            { 'id': presentation, 'parameters': parameters }
            )) }}
        </div>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}


{% block stylesheets %}
{% endblock %}
