{% extends 'manage/presentations/editor_base.html.twig' %}

{% block body %}
    <div class="panel-body">

    </div>
{% endblock %}

{% block scripts %}
    <script>
    </script>
{% endblock %}


{% block stylesheets %}
{% endblock %}
