{% extends 'manage/screens/screen-details-base.html.twig' %}

{% block screen_details_main %}
    <h3 class="ui top attached block header">
        {{ 'Alarming'|trans }}
    </h3>
    <div class="ui middle attached segment">
        {{ form(form) }}
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}
