{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui main container">
        <div class="ui stackable grid">
            <div class="four wide column">
                {% set menu = knp_menu_get('screen-settings', [], {'screen': screen} ) %}
                {{ knp_menu_render(menu) }}
            </div>
            <div class="twelve wide column">
                {% block screen_details_main %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}
