{% extends 'base.html.twig' %}

{% block body %}
    <div id="container">
        <h2>Dashboard</h2>
        {% for screen in screens %}
            <p>TODO: Screen</p>
        {% endfor %}
    </div>

    <!-- TODO: Screens readonly anzeigen, evtl mit Screenshot falls vorhanden, Status -->

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
