{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui main container">
        <div class="page-header">
            <h1>Dashboard</h1>
        </div>
        <div class="ui cards">
            {% for screen in screens %}
                <div class="card">
                    <div class="content">
                        <div class="header">
                            {{ screen.getName() }}
                        </div>
                    </div>
                    <div class="image">
                        <img class="preview" src="{{ path('management-dashboard-preview', {'screen_guid': screen.getGuid()}) }}">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
