{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>Dashboard</h1>
        </div>
        <div class="dash-screen-wrapper">
            {% for screen in screens %}
                <div class="dash-screen">
                    <img class="preview" src="{{ path('management-dashboard-preview', {'screen_guid': screen.getGuid()}) }}">
                    <span class="name">{{ screen.getName() }}</span>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
