{% extends 'base.html.twig' %}


{% block body %}
    <div class="ui main container">
        <div class="ui message">
            <h1>Jetzt loslegen!</h1>
            <p>Leider sind noch keine Anzeigen mit deinem Konto verknüpft.</p>
            <p>
                Du kannst aber eine virtuelle Anzeige erstellen, die du ganz einfach in deinem Browser öffnen kannst.<br>
                <strong>So wird jeder PC ganz schnell zu einem Shinage-Gerät!</strong>
            </p>
            <p><a class="ui blue button" href="{{ path('management-screens') }}#create_virtual" role="button">Jetzt virtuelle Anzeige anlegen</a></p>
            <p>
                Oder du verknüpfst eine neue, echte Anzeige mit deinem Konto.
            </p>
            <p><a class="ui blue button" href="{{ path('management-screens') }}" role="button">Jetzt vorhandene Anzeige hinzufügen</a></p>
        </div>
    </div>

{% endblock %}