{% extends 'base.html.twig' %}


{% block body %}

    <div class="flash flash-error">
        Es sind leider keine Bildschirme mit Ihrem Konto verknüpft.
    </div>

    <p>TODO: Virtuellen Bildschirm anlegen, der nur über URL erreichbar ist.</p>

{% endblock %}