
<b>Herzlich willkommen bei Shinage!</b>
<br><br>
Vielen Dank für deine Registrierung.<br>
<br>
<br>
Bitte bestätige nun noch deine E-Mail-Adresse, um deine Registrierung abzuschließen.<br>
Klicke dazu bitte auf folgenden Link oder kopiere ihn in die Adresszeile deines Browsers:<br>
<br>
<a href="{{ absolute_url(path('registration-confirm', { confirmationToken: user.getConfirmationToken() })) }}">{{ absolute_url(path('registration-confirm', { confirmationToken: user.getConfirmationToken() })) }}</a>
<br>
<br>
Anschließend kannst du dich in deinem neuen Konto einloggen.
<br>
<br>
Hast du diese Mail unerwartet erhalten oder hast du dich nicht bei Shinage angemeldet?
Dann kannst du sie ignorieren, deine E-Mail-Adresse wird dann nach einer gewissen Zeit
automatisch wieder aus unserer Datenbank entfernt.
<br>
<br>
<br>
<br>
{% include('mail/de/_footer.txt.twig') %}