<a class="navi-button" href="{{ path('management-dashboard') }}">Dashboard</a>
<a class="navi-button" href="{{ path('management-screens') }}">Geräte</a>
<a class="navi-button" href="{{ path('management-scheduler') }}">Zeitplan</a>
