{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui main full-width container">
        <div id="screenSelector">
            <select class="ui dropdown">
                <option disabled selected value="">{{ 'Please chose screen...'|trans }}</option>
                {% for screen in screens %}
                    <option
                            value="{{ screen.guid }}"
                            data-preview-url="{{ previewUrls[screen.guid] }}"
                    >{{ screen.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="previewArea">
            <iframe id="previewFrame"></iframe>
        </div>
    </div>
    {% endblock %}


{% block scripts %}
    <script>
        $(function () {
            $('#screenSelector select').on('change', function (e) {
                var guid = $(':selected', e.currentTarget).val();
                var url = $(':selected', e.currentTarget).data('previewUrl');
                $('#previewFrame').attr('src', url);
                location.hash = guid;
            });

            var hash = location.hash.replace('#','');
            if (hash !== '') {
                $('#screenSelector select').val(hash);
                $('#screenSelector select').trigger('change');
            }
        });
    </script>
{% endblock %}
