App\Entity\Screen:
  type: entity
  table: screens
  id:
    guid:
      type: string
      length: 36
      unique: false
      nullable: false
      id: true
  fields:
    name:
      type: string
      length: 200
      unique: false
      nullable: false
    location:
      type: text
      unique: false
      nullable: false
    notes:
      type: text
      unique: false
      nullable: false
    admin_c:
      type: text
      unique: false
      nullable: false
    first_connect:
      type: datetime
      unique: false
      nullable: false
    last_connect:
      type: datetime
      unique: false
      nullable: false
    connect_code:
      type: string
      length: 8
      unique: false
      nullable: false
  manyToOne:
    default_presentation:
      targetEntity: App\Entity\Presentation
      fetch: LAZY
      mappedBy: null
      inversedBy: null
      joinColumns:
        presentation_id:
          referencedColumnName: id
      orphanRemoval: false
  lifecycleCallbacks: {  }
